@use "../../../resources/partials/palette";

.coverImage {
	width: 150px;
	height: 200px;
	display: block;
	margin: 15px;
	padding-left: 35px;
}

.Card {
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: palette.$displayCard_bg;
	width: 250px;
	margin: 15px;
	padding: 0 5px 0 5px;
	border-radius: 25px;
}
